body {
    display:flex;
    background-color: #F2F3D9;
    flex-basis: 70vw;
    flex-direction: column;
    color: #0B0014;
    padding: 30px;
    gap: 50px;
}

header {
    text-align: center;
}

main {
    display:flex;
    justify-content: space-between;
    gap: 10vw;
    flex-basis: 600px;
}

div.blok {
    background-color: #D44D5C;
    flex-basis: 30vw;
    text-align: left;
    padding: 30px;
    padding-top: 70px;
    border-radius: 6px;
    flex-grow:1;

}